body {
  background-color: white;
  font-family: 'Solway', serif;
}
.container {
    max-width: 1170px;
    margin: 0 auto;
}
div {
}
.header {
  color: blue;
  display: flex;
  justify-content: space-between; 
}
.branding {
  padding-top: 50px;
  padding-bottom: 50px;
  font-family: 'Montserrat', sans-serif;
  font-size: 32px;
  display: flex;
  justify-content: space-between; 
  font-weight:bold;

}
.branding-social {
    padding-top: 50px;
}
.placeholder {

}
.placeholder img {
    width: 100%;
}
.below-text {
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: justify;
    font-family: 'Arial';
    line-height: 2;
}
.slideshow {
    display: flex;
    justify-content: space-between; 
    padding-top: 90px;
    padding-bottom: 50px;
}
.slideshow img {
    width: 30%;
}
.explore {
    display: flex;
    justify-content: space-between; 
}
.explore-button {
   
}
.explore-text {
    font-family: 'Gupter', serif;
    max-width: 45%;
}